@model IQueryable<User>
<!DOCTYPE html>
<html lang="tr">
<body class="sb-nav-fixed">
    <div id="layoutSidenav" class="right_col" role="main">
        <div id="layoutSidenav_content">
            <div>
                <div class="clearfix"></div>

                <div class="row" style="display: block;">

                    <div class="col-md-12 col-sm-12  ">
                        <div class="x_panel">
                            <div class="col-md-6 col-sm-6  ">
                                <h2>Kullanıcı Yönetimi</h2>
                            </div>
                            <div class="col-md-6 col-sm-6  ">
                                <a asp-controller="Kategori" asp-action="New" class="btn btn-success float-right">
                                    Yeni Kategori
                                </a>
                            </div>

                            <div class="x_content">
                                <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                            <tr class="headings">
                                                <th class="column-title">Ad</th>
                                                <th class="column-title">Soyad </th>
                                                <th class="column-title">Email </th>
                                                <th class="column-title">Kullanıcı Adı</th>
                                                <th class="column-title">Rol </th>
                                                <th>Rol Güncelle</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var kullanici in Model)
                                            {
                                                <tr class="even pointer siparis-row1">
                                                    <td>@kullanici.Ad</td>
                                                    <td>@kullanici.Soyad</td>
                                                    <td>@kullanici.eMail</td>
                                                    <td>@kullanici.kullaniciAdi</td>
                                                    <td>
                                                        @kullanici.RolId
                                                    </td>
                                                    <td>
                                                        <a asp-controller="Home" asp-action="Guncelle" asp-route-Id="@kullanici.Id">Rol</a>
                                                    </td>
                                                    <td>
                                                        <a asp-controller="Siparis" asp-action="Delete" asp-route-id="@kullanici.Id" class="btn btn-danger">Sil</a>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>